services:
  mongo:
    image: mongo
    container_name: 11jersey.com_db
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:latest
    container_name: 11jersey.com_redis
    ports:
      - "6378:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3001:3000"
    volumes:
      - grafana-data:/var/lib/grafana

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./server/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - ./server/promtail-config.yml:/etc/promtail/config.yml
      - ./logs:/var/logs
    command:
      - -config.file=/etc/promtail/config.yml

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "8001:5540"
    depends_on:
      - redis
    environment:
      - RI_HOST=0.0.0.0
      - RI_PORT=5540

  server:
    build: ./server
    container_name: 11jersey.com_server
    command: npm run dev
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - ./server/.env.development
    depends_on:
      - mongo

volumes:
  mongo-data:
  redis-data:
  grafana-data:
